<!DOCTYPE html>
<html>
<head>
  <title>GearFix - A clone site based on REI.com</title>
  <link rel="icon" href="http://res.cloudinary.com/nequalszero/image/upload/v1478729726/favicon_xhquj0.ico"/>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- <script src="https://use.fontawesome.com/845582e314.js"></script> -->
  <!-- <script type="text/javascript">
    <% if current_user %>
      window.localStorage.setItem("currentUser", JSON.stringify(<%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>))
    <% else %>
      window.localStorage.setItem("currentUser", JSON.stringify(null))
    <% end %>
  </script> -->
</head>
<body>

<%= yield %>

</body>
</html>
